.input_fields{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        background-color: antiquewhite;
        border-radius: 5px;
        input{
            width: 300px;
            height: 30px;
            border: none;
            background-color: antiquewhite;
            padding-left: 5px;
            outline: none;
            border-radius: 5px;
        }
        input::placeholder{
            font-family: 'Poppins', sans-serif;
        }
        i{
            margin: 0px 10px;
        }
    }
    select{
        font-family: 'Poppins', sans-serif;
        height: 30px;
        border-radius: 5px;
        padding: 0px 10px;
    }
}